@using  Newtonsoft.Json;
@using EthereumWeb.Models;
@using System.Collections.Generic;
@{
    ViewBag.Title = "GraficoVoting";
     var DatoSource = @Html.Raw(ViewBag.DataPoints); //@Html.Raw(JsonConvert.SerializeObject(ViewBag.DataPoints));


}

<h2>GraficoVoting</h2>
<div id="chartContainer"  style="height: 300px; width: 100%;"></div>
<script type="text/javascript">
window.onload = function () {
	var chart = new CanvasJS.Chart("chartContainer",
	{
		title:{
			text: "Presidential Election Results"
		},
                animationEnabled: true,
		data: [
		{
			type: "doughnut",
			startAngle: 60,
			toolTipContent: "{legendText}: {y} - <strong>#percent% </strong>",
			showInLegend: true,
          explodeOnClick: false, //**Change it to true
			dataPoints:@DatoSource
   //         [
			//	{y: 65899660, indexLabel: "Barack Obama #percent%", legendText: "Barack Obama" },
			//	{y: 60929152, indexLabel: "Mitt Romney #percent%", legendText: "Mitt Romney" },
			//	{y: 2175850,  indexLabel: "Others #percent%", legendText: "Others" }
			//]
		}
		]
	});
	chart.render();
	}
</script>


