@model EthereumWeb.Models.UserModel

@{
    ViewBag.Title = "User";
}

<h2>Modificar usuario</h2>

<div class="row text-center">
    <h1></hq><label>¿Eliminar el usuario @Model.UserName @Model.UserLastName?</label></h1>
    <button type="button" class="btn btn-warning">Eliminar</button>

</div>