@model EthereumWeb.Models.HomeModel

<div class="jumbotron">
    <h1>Plataforma web de votaciones</h1>
    <p class="lead">Fomentamos la transparencia y la democracia.</p>
</div>

<div class="ROW">
    <div class="col-md-12 text-center">
        <div class="panel panel-default">
            <div class="panel-body">
                @using (Html.BeginForm("Login", "Home"))
            {
                    <div class="fieldset">Correo electrónico:</div>
                    <div class="fieldset">@Html.TextBoxFor(model => model.Email)</div>
                    <div class="field-validation-error text-danger">@Html.ValidationMessageFor(model => model.Email)</div>
                    <div class="fieldset">Password:</div>
                    <div class="fieldset">@Html.TextBoxFor(model => model.Password)</div>
                    <div class="field-validation-error text-danger">@Html.ValidationMessageFor(model => model.Password)</div>
                    <input type="submit" value="Enviar" />
                }
            </div>
        </div>
    </div>

  
</div>
